:host{
  display: grid;

  grid-template-columns: 71px 240px auto 240px;
  grid-template-rows: 46px auto 52px;

  grid-template-areas:
    'SL SN TI TI'
    'SL TL TD UL'
    'SL UI TD UL';

  height: 100vh;
}
